@font-face {
    font-family: 'PSLKittithadaPro';
    src: url('../fonts/psl/PSLKittithadaProBoldItalic.eot');
    src: url('../fonts/psl/PSLKittithadaProBoldItalic.woff2') format('woff2'),
         url('../fonts/psl/PSLKittithadaProBoldItalic.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/psl/PSLKittithadaProBoldItalic.woff') format('woff'),
         url('../fonts/psl/PSLKittithadaProBoldItalic.ttf') format('truetype'),
         url('../fonts/psl/PSLKittithadaProBoldItalic.svg#PSLKittithadaProBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PSLKittithadaPro';
    src: url('../fonts/psl/PSLKittithadaProBold.eot');
    src: url('../fonts/psl/PSLKittithadaProBold.woff2') format('woff2'),
         url('../fonts/psl/PSLKittithadaProBold.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/psl/PSLKittithadaProBold.woff') format('woff'),
         url('../fonts/psl/PSLKittithadaProBold.ttf') format('truetype'),
         url('../fonts/psl/PSLKittithadaProBold.svg#PSLKittithadaProBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PSLKittithadaPro';
    src: url('../fonts/psl/PSLKittithadaProItalic.eot');
    src: url('../fonts/psl/PSLKittithadaProItalic.woff2') format('woff2'),
         url('../fonts/psl/PSLKittithadaProItalic.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/psl/PSLKittithadaProItalic.woff') format('woff'),
         url('../fonts/psl/PSLKittithadaProItalic.ttf') format('truetype'),
         url('../fonts/psl/PSLKittithadaProItalic.svg#PSLKittithadaProItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PSLKittithadaPro';
    src: url('../fonts/psl/PSLKittithadaPro.eot');
    src: url('../fonts/psl/PSLKittithadaPro.woff2') format('woff2'),
         url('../fonts/psl/PSLKittithadaPro.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/psl/PSLKittithadaPro.woff') format('woff'),
         url('../fonts/psl/PSLKittithadaPro.ttf') format('truetype'),
         url('../fonts/psl/PSLKittithadaPro.svg#PSLKittithadaPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pirulen';
    src: url('../fonts/pirulen/PirulenRg-Regular.eot');
    src: url('../fonts/pirulen/PirulenRg-Regular.woff2') format('woff2'),
         url('../fonts/pirulen/PirulenRg-Regular.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/pirulen/PirulenRg-Regular.woff') format('woff'),
         url('../fonts/pirulen/PirulenRg-Regular.ttf') format('truetype'),
         url('../fonts/pirulen/PirulenRg-Regular.svg#PirulenRg-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;

/* Landscape */
@screen-iphoneSE-min: 568px;
@screen-iphone-min: 667px;
@screen-iphonePlus-min: 736px;
@screen-iphoneX-min: 812px;
@screen-ipad-min: 1024px;

@primary-color: #2291C6;
@text-color: #333233;

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blink{
    -webkit-animation: blinker 1.5s linear infinite;
    -moz-animation: blinker 1.5s linear infinite;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    0% { opacity: 0.5; }
    30% { opacity: 1.0; }
    30% { opacity: 1.0; }
    100% { opacity: 0.5; }
}

.circle-hover{
    position: relative;

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        display: block;
        content: '';
        width: 0;
        height: 0;
        background: rgba(255,255,255,.2);
        border-radius: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    &:hover{
        &:before{
            -webkit-animation: circle .75s;
            animation: circle .75s;
        }
    }
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

html{
    position: fixed;
    overflow: hidden;
}

body{
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    font-family: 'PSLKittithadaPro';
    font-size: 22px;
    color: @text-color;
    touch-action: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

textarea{
    resize: none;
}

.container{
    width: 100%;
}

.item-loading-panel,
#item-loading-panel{
    display: none;
    text-align: center;
    padding: 60px 0 20px;

    img{
        width: 24px;
        opacity: 0.5;
    }
}

.item-loading-panel{
    padding-top: 30px;
    display: block;
}

#loading-panel{
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    display: none;

    .loading-icon,
    img{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -32px auto 0;
    }

    &.in-panel{
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    &.circle{
        img{
            width: 72px;
            margin-top: -36px;
        }
    }

    // .progress{
    //     height: 5px;
    //     border-radius: 0;
    //     position:
    //     absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     margin: 0;

    //     .progress-bar{
    //         -webkit-transition: all 0.25s ease-in-out;
    //         transition: all 0.25s ease-in-out;
    //         background-color: @primary-color;
    //     }
    // }
}

#showroom-container{
    text-align: center;
    width: 100%;
    // max-width: 1600px;
    margin: auto;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    #room-menus{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;

        > li{
            display: block;

            + li{
                margin-top: 15px;
            }

            &.active{
                > a{
                    opacity: 1;
                }
            }

            > a{
                border-radius: 50%;
                background-color: @primary-color;
                display: block;
                width: 10px;
                height: 10px;
                opacity: 0.5;
            }
        }
    }
}

#video{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

#scene-container > canvas,
#scene-container,
#image{
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

#scene-container > canvas{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#scene-container{
    .scene-text{
        position: absolute;
        z-index: 2;
        text-align: left;
        transition-duration: 0.1s;
        display: none;

        &.active{
            display: block;
        }

        .title{
            // margin-bottom: 5px;
            text-transform: uppercase;
            font-family: 'Pirulen';
            color: @primary-color;
            font-size: 1.8vw;
            // font-size: 24px;
            margin-bottom: 5px;
        }

        .desc{
            line-height: 1;
            font-weight: bold;
            text-align: left;
            // font-size: 2.1vw;
            font-size: 20px;

            p{
                margin: 0;

                + p{
                    margin-top: 5px;
                }
            }
        }

        &#text-7-1,
        &#text-6-1,
        &#text-5-1,
        &#text-4-1{
            left: 20px;
            top: 50%;
            // max-width: 165px;
            max-width: 31%;
            transform: translateY(-50%);
        }

        &#text-3-1,
        &#text-2-1{
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-55%);
            right: auto;
            margin-left: 0;
            width: 65%;

            .title{
                text-align: center;
            }
            .desc{
                text-align: center;
                text-indent: 20px;
            }
        }

        &#text-12-1,
        &#text-10-1,
        &#text-8-1{
            // left: 20px;
            // right: auto;
            // bottom: 17px;
            // // max-height: 59px;
            // width: auto;
            // // max-width: ~"calc(50% - 30px)";

            // > img{
            //     max-height: 59px;
            // }
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            &:before{
                content: '';
                display: block;
                position: absolute;
                -webkit-transition: all 0.15s ease-in-out;
                transition: all 0.15s ease-in-out;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.8);
                z-index: 1;
            }

            .text-content{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: 2;
                max-width: 70%;
                margin: auto;
            }

            .title{
                text-align: center;
            }

            .desc{
                text-align: center;
            }
        }

        // &#text-11-1,
        // &#text-10-1,
        // &#text-9-1,
        // &#text-8-1{
        //     bottom: 26px;
        //     // max-height: 59px;
        //     max-width: 50%;

        //     > img{
        //         max-height: 59px;
        //     }
        // }

        // &#text-9-1,
        // &#text-8-1{
        //     right: 20px;
        //     left: auto;
        // }
    }
}

.scene{
    width: 100%;
    height: 100%;
    position: absolute
}

.info-icon{
    color: #fff;
    position: absolute;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;

    // &:hover{
    //     opacity: 0.75 !important;
    // }
}

button,
a{
    cursor: pointer;

    &:focus{
        outline: none !important;
    }
}

.nav-container{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -15px;
    display: none;
}

.nav-btn{
    position: absolute;
    display: inline-block;
    height: 30px;
    text-align: center;
    line-height: 28px;
    color: #222;
    opacity: 1;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */

    &.prev{
        left: 20px;
    }

    &.next{
        right: 20px;
    }

    &:hover{
        text-decoration: none;
        color: #222;
    }
}

.nav-btn.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

#console-panel{
    position: fixed;
    height: 150px;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 10;
    display: none;
}

.btn{
    &.btn-primary{
        background-color: @primary-color;
        border-color: @primary-color;
    }
}

#logo{
    width: 90px;
    top: 10px;
    left: 20px;
    display: block;
    position: absolute;
    z-index: 5;
    // width: 120px;
    // top: 30px;
    // left: 30px;
    // display: none;
}

// #info-2-1{
//     border: 1px solid #000;
//     width: 500px;
//     height: 300px;
//     margin-left: -250px;
//     margin-top: -200px;
// }

#main-menu-btn{
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 5;
    width: 15px;
    height: auto;
}

#menu-panel{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    animation-duration: 0.25s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0096ff+0,00fcff+100&0.81+0,0.81+100 */
    // background: -moz-linear-gradient(45deg, rgba(0,150,255,0.81) 0%, rgba(0,252,255,0.81) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(45deg, rgba(0,150,255,0.81) 0%,rgba(0,252,255,0.81) 100%);  Chrome10-25,Safari5.1-6
    // background: linear-gradient(45deg, rgba(0,150,255,0.81) 0%,rgba(0,252,255,0.81) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b50096ff', endColorstr='#b500fcff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    background-image: url('./../images/menu-bg-mobile.png');
    background-size: cover;
    background-position: top center;

    &.before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.9;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f88fc+0,21c5fc+50,00f0fc+100 */
        background: #4f88fc; /* Old browsers */
        background: -moz-linear-gradient(45deg, #4f88fc 0%, #21c5fc 50%, #00f0fc 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #4f88fc 0%,#21c5fc 50%,#00f0fc 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #4f88fc 0%,#21c5fc 50%,#00f0fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f88fc', endColorstr='#00f0fc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }


    #close-menu-btn{
        position: absolute;
        top: 10px;
        right: 15px;
        width: 15px;
        z-index: 5;
    }

    #alert-message{
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        display: none;
        font-size: 14px;
    }

    #menus{
        list-style: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        > li{
            display: block;
            text-align: left;

            &:hover{
                background-color: rgba(36, 112, 170, 0.65);
            }

            + li{
                border-top: 1px solid rgba(255, 255, 255, 0.15);
            }

            &#lh-menu{
                padding: 0px 0;
                font-size: 1.5vw;
                text-align: center;

                &:hover{
                    background: transparent;
                }

                #lh-logo{
                    > img{
                        height: 20px;
                    }
                }
            }

            > a{
                display: block;
                width: 300px;
                max-width: 100%;
                margin: auto;
                padding: 13px 0;
                color: #fff;
                text-transform: uppercase;
                font-family: "Pirulen";

                &:hover{
                    text-decoration: none;
                }

                > img{
                    height: 30px;
                }

                .menu-icon{
                    width: 16px;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: left;
                    margin-right: 10px;

                    img{
                        // max-height: 26px;
                    }
                }

                .menu-text{
                    display: inline-block;
                    vertical-align: middle;

                    .title{
                        font-size: 11.5px;
                        line-height: 1;
                        letter-spacing: 2.3px;
                        margin-top: 5px;
                    }

                    .subtitle{
                        font-size: 8.5px;
                        display: block;
                        line-height: 1;
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }

    #social-list{
        list-style: none;
        position: absolute;
        bottom: 5px;
        right: 15px;

        > li{
            display: inline-block;

            + li{
                margin-left: 2px;
            }

            > a{
                display: block;

                img{
                    height: 24px;
                }
            }
        }
    }
}

#scroll-icon{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    bottom: 20px;
    width: 80px;
}

.modal{
    &.fullscreen{
        margin: 0;
        padding: 0 !important;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        overflow-y: hidden;

        #logo{
            top: 15px;
        }

        .modal-dialog{
            width: 100%;
            margin: 0;
            padding: 0;
            max-width: 100%;
            box-shadow: none;

            .modal-content{
                background-color: transparent;
                box-shadow: none;
                border: none;
            }

            .close{
                padding: 15px;
                width: 15px;
                height: 15px;
                top: 15px;
                right: 15px;
                position: absolute;
                display: block;
                background-image: url('../images/close-icon.png');
                background-repeat: no-repeat;
                background-position: top right;
                background-size: 15px auto;
                z-index: 2;
                opacity: 1;

                &.black{
                    background-image: url('../images/close-icon-black.png');
                    opacity: 0.6;
                }
            }
        }
    }

    #popup-scroll-icon{
        position: absolute;
        z-index: 5;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        top: auto;
        bottom: 12px;
        // width: 80px;
        height: 21px;
        background-image: url('../images/touch-icon.png');
        background-size: auto 20px;
        background-repeat: no-repeat;
        background-position: bottom center;

        &.first{
            background-image: url('../images/touch-down-icon.png');
        }

        &.last{
            background-image: url('../images/touch-up-icon.png');
        }
    }
}

#begin-scroll-icon{
    bottom: 2px;

    .text{
        font-size: 16px;
        font-weight: bold;
        color: @primary-color;
        line-height: 1;
    }

    img{
        height: 20px;
    }
}

.popup-scroll-icon{
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    top: auto;
    bottom: 2px;
    opacity: 0;

    > img{
        height: 20px;
    }
}

#fp-nav{
    z-index: 1500 !important;

    &.right{
        right: 0 !important;
    }

    > ul{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        border-radius: 50px;
        background-color: #DEDEDE;
        width: 7px !important;
        overflow: hidden;

        > li{
            display: block;
            height: 40px !important;
            margin: 0 !important;

            + li{
                margin-top: 15px;
            }

            > a{
                &.active{
                    > span{
                        &:before{
                            content: '';
                            background-color: @primary-color;
                            width: 100%;
                            height: 500px;
                            display: block;
                            position: absolute;
                            bottom: 90%;
                            -webkit-transition: all 0.35s ease-in-out;
                            transition: all 0.35s ease-in-out;
                            z-index: 0;
                        }

                        opacity: 1;
                    }
                }

                > span{
                    border-radius: 50px !important;
                    background-color: @primary-color !important;
                    display: block;
                    width: 7px !important;
                    height: 40px !important;
                    opacity: 0;
                    margin: 0 !important;
                    top: auto !important;
                    left: auto !important;
                }
            }
        }
    }
}

#enter-museum-panel{
    background-size: cover;
    background-position: center center;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 6;
    text-align: center;

    #enter-btn{
        position: absolute;
        border-radius: 0;
        bottom: 6%;
        margin: 0 auto;
        padding: 6px 15px;
        display: inline-block;
        transform: translateX(-50%);
        border-radius: 50px;
        border: 2px solid @primary-color;
        color: @primary-color;
        font-family: "Pirulen";
        // font-size: 10px;
        font-size: 1.5vw;
    }

    .progress-panel{
        position: absolute;
        bottom: 8%;
        left: 0;
        right: 0;
        margin-right: -20px;
        display: none;
        transform: translateY(-50%);
        z-index: 1500;

        .progress{
            height: 5px;
            border-radius: 0;
            margin: 0 auto;
            display: block;
            width: 250px;
            height: 10px;
            background-color: #C7CACB;
            display: inline-block;

            .progress-bar{
                -webkit-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;
                background-color: @primary-color;
            }
        }

        .progress-text{
            display: inline-block;
            text-transform: uppercase;
            font-family: 'Pirulen';
            font-weight: normal;
            color: @primary-color;
            font-size: 14px;
            width: 40px;
            text-align: left;
        }
    }
}

.popup-content-section{
    position: relative;
    height: 100vh;

    .popup-content-container{
        position: relative;
        padding: 10px 0;
        // top: 50%;
        // transform: translateY(-50%);
    }

    .left-col,
    .right-col{
        padding: 0 15px;
        // min-height: 50vh;
    }

    .left-col{
        border-right: 1px solid #aaa;

        > .title{
            margin-bottom: 10px;
            line-height: 1;

            > img{
                height: 16px;
            }
        }

        .image-panel{
            background-color: #eee;
            background-size: cover;
            background-position: center center;
            padding-bottom: 60%;
        }
    }

    .right-col{
        padding-right: 40px;

        .content-panel{
            line-height: 1;
            // position: absolute;
            // top: 50%;
            // transform: translateY(-50%);

            img{
                max-height: ;
            }

            > .title{
                text-transform: uppercase;
                padding-bottom: 3px;
                // border-bottom: 2px solid @primary-color;
                display: inline-block;
                color: @primary-color;
                font-weight: bold;
                // font-size: 16px;
                // font-size: 2.7vw;
                font-size: 24px;
                // margin-bottom: 5px;
            }

            .desc{
                display: block;
                font-weight: bold;
                // font-size: 14px;
                // font-size: 2.1vw;
                font-size: 20px;
                text-align: left;

                p{
                    text-indent: 20px;
                }

                ul{
                    list-style-position: inside;
                    margin: 0;
                    list-style: none;
                    padding-left: 15px;
                    text-align: left;

                    > li{
                        &:before{
                            content: '-';
                            font-size: 24px;
                            line-height: 14px;
                            margin-top: -4px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: -15px;
                            margin-right: 10px;
                        }

                        + li{
                            margin-top: 4px;
                        }
                    }
                }
            }
        }
    }
}

#contact-btn{
    position: absolute;
    bottom: 12px;
    left: 15px;
    font-weight: bold;
    color: @text-color;
    z-index: 5;
    font-size: 16px;
    display: none;

    &:hover{
        text-decoration: none;
    }

    > img{
        height: 14px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
}

#rotate-dialog{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    background-image: url('./../images/rotate-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1510;
    display: none;

    .content-wrapper{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
    }

    img{
        width: 100px;
        margin: auto;
    }

    .text{
        line-height: 1;
        font-weight: bold;
    }
}

#nav-dialog{
    .modal-content{
        height: 100vh;
    }

    .close{
        opacity: 0.3;
    }

    #nav-content-panel{
        max-width: 70vw;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        // margin-top: -15px;

        .title{
            text-transform: uppercase;
            font-family: 'Pirulen';
            color: @primary-color;
            font-size: 2.5vw;
            margin-bottom: 20px;
        }

        img{
            margin: 15px auto;
            height: 7vw;
        }

        .text{
            color: @primary-color;
            font-weight: bold;
            line-height: 1;
        }
    }
}

// iPhone SE
@media (min-width: @screen-iphoneSE-min) {
    #enter-museum-panel{
        #enter-btn{
            bottom: 10%;
        }
    }

    #scene-container{
        .scene-text{
            &#text-7-1,
            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                max-width: 31%;
            }

            &#text-3-1,
            &#text-2-1{
                width: 55%;
            }
        }
    }
}

// iPhone
@media (min-width: @screen-iphone-min) {
    #scene-container{
        .scene-text{
            &#text-7-1,
            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                left: 20px;
                top: 49%;
                max-width: 29%;
            }

            // &#text-13-1,
            // &#text-12-1,
            // &#text-11-1,
            // &#text-10-1{
            //     left: 25px;
            //     right: auto;
            //     bottom: 20px;
            //     // max-height: 59px;
            //     width: auto;
            //     max-width: ~"calc(50% - 30px)";

            //     > img{
            //         max-height: 59px;
            //     }
            // }

            // &#text-9-1,
            // &#text-8-1{
            //     // max-height: 59px;
            //     width: auto;
            //     right: 25px;
            //     left: auto;

            //     > img{
            //         max-height: 59px;
            //     }
            // }

            // &#text-11-1,
            // &#text-10-1,
            // &#text-9-1,
            // &#text-8-1,
            // &#text-7-1,
            // &#text-6-1{
            //     // .title{
            //     //     font-size: 13px;
            //     // }

            //     // .desc{
            //     //     font-size: 18px;
            //     // }
            // }

            // &#text-2-1{
            //     .desc{
            //         text-indent: 60px;
            //     }
            // }

            // .title{
            //     font-size: 12px;
            // }

            // .desc{
            //     font-size: 15px;
            // }
        }
    }

    #enter-museum-panel{
        #enter-btn{
            bottom: 6%;
        }

        .progress-panel{
            bottom: 6%;
        }
    }
}

// iPhone Plus
@media (min-width: @screen-iphonePlus-min) {
    #scene-container{
        .scene-text{
            &#text-7-1,
            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                left: 20px;
                top: 48%;
                // max-width: 32%;
                // max-width: 220px;
                // max-width: 25%;
            }

            // &#text-11-1,
            // &#text-10-1,
            // &#text-9-1,
            // &#text-8-1{
            //     left: 32px;
            //     right: auto;
            //     bottom: 23px;
            //     // max-height: 59;
            //     width: auto;
            //     max-width: ~"calc(50% - 30px)";

            //     > img{
            //         max-height: 59;
            //     }
            // }

            // &#text-7-1,
            // &#text-6-1{
            //     right: 25px;
            //     left: auto;
            // }

            .title{
                font-size: 2vw;
            }

            .desc{
                font-size: 22px;
            }
        }
    }

    .popup-content-section{
        .right-col{
            .content-panel{
                .title{
                    font-size: 26px;
                    margin-bottom: 5px;
                }

                .desc{
                    font-size: 22px;
                }
            }
        }
    }

    #enter-museum-panel{
        #enter-btn{
            bottom: 7%;
        }

        .progress-panel{
            bottom: 7%;
        }
    }
}

@media (min-width: @screen-sm-min) {
    .hidden-xs{
        display: none !important;
    }

    .visible-xs{
        display: block !important;
    }

    .visible-xs-inline-block{
        display: inline-block !important;
    }

    #enter-museum-panel{
        #enter-btn{

        }
    }

    #scene-container{
        .scene-text{
            &#text-7-1{
                max-width: 25%;
            }

            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                max-width: 28%;
            }
        }
    }
}

@media (min-width: @screen-iphoneX-min){
    #enter-museum-panel{
        #enter-btn{
            bottom: 8%;
        }
    }

    #scene-container{
        max-width: 100%;

        .scene-text{
            &#text-7-1,
            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                // max-width: 25%;
                left: 20px;
                // width: 380px;
                max-width: 29%;
                // margin-left: -45%;
            }

            .title{
                font-size: 1.4vw;
            }

            .desc{
                font-size: 2vw;
            }
        }
    }

    .popup-content-section{
        .right-col{
            .content-panel{
                .title{

                }

                .desc{
                    // font-size: 2vw;
                }
            }
        }
    }
}

@media (min-width: @screen-md-min) {
    #nav-dialog{
        .close{
            opacity: 0.3;
            background-size: 20px auto;
        }

        #nav-content-panel{
            max-width: 65vw;
            position: absolute;

            img{
                margin: 15px auto;
                height: 10vw;
            }

            .text{
                color: @primary-color;
                font-weight: bold;
                line-height: 1;
            }
        }
    }

    #enter-museum-panel{
        #enter-btn{

        }
    }

    .hidden-xs{
        display: inline !important;
    }

    .visible-xs{
        display: none !important;
    }

    .visible-xs-inline-block{
        display: none !important;
    }

    #logo{
        width: 120px;
        top: 25px;
        left: 25px;
    }

    #contact-btn{
        left: 30px;
        bottom: 20px;
        font-size: 20px;

        > img{
            height: 20px;
            margin-right: 5px;
        }
    }

    #fp-nav{
        &.right{
            right: 17px !important;
        }

        > ul{
            width: 10px !important;

            > li{
                > a{
                    > span{
                        width: 10px !important;
                    }
                }
            }
        }
    }

    .popup-content-section{
        .left-col,
        .right-col{
            padding: 30px 20px 0 30px;
            min-height: auto;
            // min-height: 50vh;
        }

        .left-col{
            > .title{
                margin-top: -30px;
                margin-bottom: 15px;

                > img{
                    height: 24px;
                }
            }
        }

        .right-col{
            padding: 40px 70px 30px 20px;

            .content-panel{
                // position: absolute;
                // top: 50%;
                // transform: translateY(-50%);

                > .title{
                    margin-bottom: 10px;
                    // font-size: 30px;
                    // font-size: 2.1vw;
                }

                .desc{
                    // font-size: 24px;
                    // font-size: 1.8vw;

                    p{
                        text-indent: 20px;
                    }

                    ul{
                        list-style-position: inside;
                        margin: 0;
                        list-style: none;
                        padding-left: 20px;

                        > li{
                            &:before{
                                content: '-';
                                font-size: 24px;
                                line-height: 14px;
                                margin-top: -4px;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: -20px;
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    .modal{
        #logo{
            top: 30px;
        }

        &.fullscreen{
            .modal-dialog{
                .close{
                    top: 20px;
                    right: 30px;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        #popup-scroll-icon{
            bottom: 20px;
            height: 51px;
            background-image: url('../images/scroll-icon.png');
            background-size: auto 40px;
            background-repeat: no-repeat;
            background-position: bottom center;

            &.first{
                background-image: url('../images/scroll-down-icon.png');
            }

            &.last{
                background-image: url('../images/scroll-up-icon.png');
            }
        }
    }

    #begin-scroll-icon{
        bottom: 20px;

        .text{
            font-size: 20px;
            color: @primary-color;
            margin-bottom: -3px;
        }

        img{
            height: 40px;
        }
    }

    .popup-scroll-icon{
        bottom: 20px;

        > img{
            height: 40px;
        }
    }

    #showroom-container{
        #room-menus{
            right: 30px;

            > li{
                + li{
                    margin-top: 20px;
                }

                > a{
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }

    #main-menu-btn{
        top: 30px;
        right: 30px;
        width: 30px;
    }

    #scroll-icon{
        bottom: 30px;
        width: 100px;
    }

    #menu-panel{
        left: auto;
        width: 450px;
        background-image: url('./../images/menu-bg.png');

        #close-menu-btn{
            top: 30px;
            right: 25px;
            width: 20px;
        }

        #menus{
            text-align: center;

            > li{
                &#lh-menu{
                    font-size: 14px;
                    // padding-top: 30px;

                    #lh-logo{
                        > img{
                            height: 30px;
                        }
                    }
                }

                > a{
                    width: 100%;
                    padding: 30px 50px;

                    > img{
                        height: 50px;
                    }

                    .menu-text{
                        .title{
                            font-size: 16px;
                        }

                        .subtitle{
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        #social-list{
            bottom: 15px;
            right: 25px;

            > li{
                display: inline-block;

                + li{
                    margin-left: 5px;
                }

                > a{
                    display: block;

                    img{
                        height: 36px;
                    }
                }
            }
        }
    }

    #scene-container{
        max-width: 100%;

        .scene-text{
            // &#text-7-1,
            // &#text-6-1,
            // &#text-5-1,
            // &#text-4-1{
            //     // max-width: ~"calc(30% - 20px)";
            //     // max-width: 25%;
            //     // left: 50%;
            //     // width: 380px;
            //     // margin-left: -45%;
            // }

            &#text-3-1,
            &#text-2-1{
                max-width: 55%;
                width: 55%;
            }

            // &#text-3-1,
            // &#text-2-1{
            //     left: 50%;
            //     top: 50%;
            //     transform: translateX(-50%) translateY(-50%);
            //     right: auto;
            //     margin-left: 0;

            //     .title{
            //         text-align: center;
            //     }
            //     .desc{
            //         text-align: center;
            //         text-indent: 60px;
            //     }
            // }

            // &#text-13-1,
            // &#text-12-1,
            // &#text-11-1,
            // &#text-10-1{
            //     left: 30px;
            //     right: auto;
            //     bottom: 70px;
            //     // max-height: 84px;
            //     width: auto;
            //     max-width: ~"calc(50% - 100px)";

            //     > img{
            //         max-height: 84px;
            //     }
            // }

            // &#text-9-1,
            // &#text-8-1{
            //     right: 30px;
            //     left: auto;
            //     bottom: 70px;
            //     // max-height: 84px;
            //     width: auto;
            //     max-width: ~"calc(50% - 100px)";

            //     > img{
            //         max-height: 84px;
            //     }
            // }

            // &#text-13-1,
            // &#text-12-1,
            // &#text-11-1,
            // &#text-10-1,
            // &#text-9-1,
            // &#text-8-1{
            //     .title{
            //         // font-size: 17px;
            //         font-size: 1.4vw;
            //         margin-bottom: 0;
            //     }

            //     .desc{
            //         font-size: 1.8vw;
            //         // font-size: 24px;
            //     }
            // }

            .title{
                // font-size: 21px;
                font-size: 1.7vw;
                margin-bottom: 7px;
            }

            .desc{
                font-size: 2.2vw;
                // font-size: 26px;
            }
        }
    }

    .info-icon{
        width: 70px;
        height: 70px;
    }
}

@media (min-width: @screen-ipad-min){
    #enter-museum-panel{
        #enter-btn{
            min-width: 200px;
            font-size: 12px;
            padding: 8px 20px;
            bottom: 10%;
            color: @primary-color;
            border-color: @primary-color;
        }
    }

    #scene-container{
        .scene-text{
            // &#text-4-1,
            &#text-3-1,
            &#text-2-1{
                max-width: 55%;
                width: 55%;
            }

            &#text-7-1,
            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                max-width: 28%
            }

            // &#text-5-1{
            //     max-width: 21%
            // }
        }
    }
}

@media (min-width: 1280px) {
    #scene-container{
        .scene-text{
            &#text-7-1,
            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                max-width: 28%
            }
        }
    }
}

@media (min-width: @screen-lg-min) {
    .container{
        width: 1170px;
    }

    .popup-content-section{
        .left-col,
        .right-col{
            padding: 30px 30px 0;
        }

        .right-col{
            padding: 35px 70px 30px 30px;
        }
    }
}

@media (min-width: 1336px) {
    #enter-museum-panel{
        #enter-btn{
            bottom: 12%;
        }
    }

    #scene-container{
        .scene-text{
            &#text-7-1,
            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                max-width: 29%
            }
        }
    }
}

@media (min-width: 1440px) {
    #enter-museum-panel{
        #enter-btn{
            bottom: 12%;
        }
    }

    #scene-container{
        .scene-text{
            &#text-7-1,
            &#text-6-1,
            &#text-5-1,
            &#text-4-1{
                max-width: 28%;
            }

            &#text-3-1,
            &#text-2-1{
                max-width: 55%;
                width: 55%;
            }
        }
    }
}